body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
}

header, nav {
  background-color: #343a40;
  color: #ffffff;
  padding: 10px 0;
  text-align: center;
}

h1 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: lighter;
  font-size: 36px;
  margin: 0;
}

.search-bar {
  margin-top: 10px;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 20px;
}

nav a {
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #ff6600;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie {
  margin: 20px;
  text-align: center;
  transition: transform 0.3s ease;
}

.movie:hover {
  transform: scale(1.05);
}

.movie img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
}

h2 {
  font-family: 'Arial', sans-serif;
  font-weight: normal;
  font-size: 24px;
  margin: 0;
}

.character-image {
  max-width: 100px;
  height: auto;
  border-radius: 50%;
}

